<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
   <insert id="insert">
   		INSERT INTO JI_BOARD(BNO, TITLE,CONTENT,WRITER)
   			 VALUES(JI_BOARD_SEQ.NEXTVAL, #{title},#{content},#{writer})
   </insert>
   
   <select id="list" resultType="com.finite.vo.BoardVO">
   		SELECT BNO, TITLE, WRITER, REGDATE FROM JI_BOARD ORDER BY BNO DESC</select>
</mapper>